.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .slds-form-element__label{
    font-size: 12px;
    color: black;
    padding-top: 2.25rem;
    font-weight: bold;
}
.THIS .outer_padding{
    padding: 1em;
}